<script type="application/ld+json">
[
 {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
   {
    "@type": "ListItem",
    "position": 1,
    "name": "Accueil",
    "item": "https://applicab-avocats.com/"
   },
   {
    "@type": "ListItem",
    "position": 2,
    "name": "Blog",
    "item": "https://applicab-avocats.com/blog/"
   },
   {
    "@type": "ListItem",
    "position": 3,
    "name": "L'organisation du cabinet d'avocat : comment l'automatisation vous fait gagner 1 heure par jour",
    "item": "https://applicab-avocats.com/lorganisation-du-cabinet-davocat-comment-lautomatisation-vous-fait-gagner-1-heure-par-jour/"
   }
  ]
 },
 {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": "https://applicab-avocats.com/lorganisation-du-cabinet-davocat-comment-lautomatisation-vous-fait-gagner-1-heure-par-jour/#article",
  "mainEntityOfPage": "https://applicab-avocats.com/lorganisation-du-cabinet-davocat-comment-lautomatisation-vous-fait-gagner-1-heure-par-jour/",
  "headline": "L'organisation du cabinet d'avocat : comment l'automatisation vous fait gagner 1 heure par jour",
  "description": "Modèles de courriers, rappels d'échéances, espace client : où se cache l'heure perdue chaque jour dans un cabinet d'avocats, et comment l'automatisation la récupère.",
  "image": "https://applicab-avocats.com/assets/img/blog/organisation-cabinet-automatisation.jpg",
  "datePublished": "2026-06-12T09:00:00+02:00",
  "dateModified": "2026-06-12T09:00:00+02:00",
  "author": {
   "@type": "Person",
   "name": "L'équipe AppliCab",
   "url": "https://applicab-avocats.com/index.html#histoire"
  },
  "publisher": {
   "@id": "https://applicab-avocats.com/#organization"
  },
  "inLanguage": "fr-FR",
  "articleSection": "Organisation du cabinet",
  "keywords": [
   "organisation cabinet avocat",
   "automatisation cabinet avocat",
   "logiciel gestion cabinet avocat",
   "gain de temps avocat"
  ],
  "wordCount": 1150,
  "isAccessibleForFree": true
 }
]
</script>
