      <table class="compare">
        <caption>Comparaison des solutions de gestion pour un cabinet d'avocats (critères principaux)</caption>
        <thead>
          <tr>
            <th scope="col">Critère</th>
            <th scope="col">Tableur, e-mails et agenda séparés</th>
            <th scope="col">Suite bureautique généraliste</th>
            <th scope="col">Logiciel métier « tout-en-un » installé</th>
            <th scope="col" class="is-us">AppliCab Avocats</th>
          </tr>
        </thead>
        <tbody>
          <tr><th scope="row">Suivi par étapes de procédure avec statuts</th><td class="no">À construire à la main</td><td class="no">Non prévu</td><td class="partial">Souvent, mais rigide</td><td class="is-us yes">Modèles d'étapes par matière, personnalisables</td></tr>
          <tr><th scope="row">Espace client dédié</th><td class="no">Non</td><td class="partial">Partage de fichiers seulement</td><td class="partial">En option payante</td><td class="is-us yes">Inclus, lecture de l'avancement et des rendez-vous</td></tr>
          <tr><th scope="row">Modèles de courriers rattachés aux étapes</th><td class="no">Copier-coller</td><td class="partial">Modèles génériques</td><td class="yes">Oui</td><td class="is-us yes">Oui, préparés par des avocats, envoi en 2 clics</td></tr>
          <tr><th scope="row">Rappels automatiques des délais</th><td class="partial">Manuels</td><td class="partial">Rappels d'agenda simples</td><td class="yes">Oui</td><td class="is-us yes">Calculés depuis l'étape du dossier</td></tr>
          <tr><th scope="row">Mise en place</th><td class="yes">Immédiate</td><td class="yes">Rapide</td><td class="no">Installation, serveur, formation payante</td><td class="is-us yes">Une demi-journée, 0 frais d'installation ni de formation</td></tr>
          <tr><th scope="row">Engagement et coût</th><td class="yes">Gratuit, mais temps perdu</td><td class="partial">Abonnement par poste</td><td class="no">Engagement annuel, licences</td><td class="is-us yes">59 € HT / mois, sans engagement</td></tr>
          <tr><th scope="row">Conçu pour les avocats</th><td class="no">Non</td><td class="no">Non</td><td class="yes">Oui</td><td class="is-us yes">Oui, par des avocats en exercice</td></tr>
        </tbody>
      </table>
